<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
</head>
<body>
	<h2>Register</h2>
	<form th:action="@{/auth/register}" th:object="${user}" method="post">
		<input type="text" th:field="*{name}" placeholder="Full Name" required />
		<input type="email" th:field="*{email}" placeholder="Email" required />
		<input type="password" th:field="*{password}" placeholder="Password"
			required /> <select th:field="*{role}">
			<option value="WORKER">Worker</option>
			<option value="REQUESTER">Requester</option>
		</select>
		<button type="submit">Register</button>
		
	</form>
</body>
</html>
